{{ define "app-footer-menu" }}
<div class="menu-nav">
    {{ with .Match }}
    <a href="/counter/lobby/{{ .LobbyID.String }}" class="menu-info-panel">
            <div class="curr-lobby-title">
                <div class="curr-lobby-indicator"></div>
                <span class="curr-lobby-name">{{ .Lobby.Name }}</span>
            </div>
            <div class="curr-lobby-info">
                <p class="">Players: {{ .Lobby.GetPlayerCount }}</p>
                <p class="curr-lobby-duration">{{ .Lobby.GetCurrentDuration }}</p>
            </div>
    </a>
    {{ end }}
    <div class="menu-main-panel">
        <div class="menu-btn" hx-get="/counter/leaderboard" hx-target="#app-content" hx-swap="innerHTML">
            <div id="leader-menu-icon" class="menu-icon leader-icon"></div>
            <p class="menu-text">leaderboard</p>
        </div>
        <div class="menu-btn" hx-get="/counter/create-lobby" hx-target="#app-content" hx-target-error="#error" hx-swap="innerHTML">
            <div id="create-menu-icon" class="menu-icon create-lobby-icon"></div>
            <p class="menu-text">create lobby</p>
        </div>
        <div class="menu-btn" hx-get="/counter/find-lobbies" hx-target="#app-content" hx-target-error="#error" hx-swap="innerHTML">
            <div id="find-menu-icon" class="menu-icon find-lobby-active-icon"></div>
            <p class="menu-text">find lobby</p>
        </div>
        <div class="menu-btn">
            <div id="completed-menu-icon" class="menu-icon completed-icon deactivated"></div>
            <p class="menu-text">completed</p>
        </div>
    </div>
</div>
{{ end }}