{{ define "side-bar" }}
{{ $CurrentGameID := .CurrentGameID }}
<div id="side-bar" class="side-bar">
    <div class="profile">
        <div class="avatar">
            <img src="/images/player.png" alt="player">
        </div>
        <div class="profile-name">
            <p>Salamus 🤙</p>
            <p>{{ .Username }}</p>
        </div>
    </div>
    <div class="separator"></div>
    <div class="sidebar-menu">
        <div class="games">
            <div class="sidebar-header">
                <img src="/images/games.png" alt="games">
                <h2>Games</h2>
            </div>
            <ul class="games-list">
                {{ range .Games }}
                    {{ if eq .GetID $CurrentGameID }}
                        <li hx-post="/counter/game/{{ .ID }}" class="sidebar-link active">{{ .Name }}</li>
                    {{ else }}
                        <li hx-post="/counter/game/{{ .ID }}" class="sidebar-link">{{ .Name }}</li>
                    {{ end }}
                {{ end }}
            </ul>
        </div>
        <div class="sidebar-header" hx-get="/counter/logout">
            <img src="/images/logout.png" alt="logout">
            <h2>Logout</h2>
        </div>
    </div>
    <div class="separator"></div>
    <div class="creator-info">
        <p class="creator-name">Developed & Designed by d0c<br/>(～￣▽￣)～</p>
        <div class="social-networks">
            <a href="https://github.com/1boombacks1">
                <img src="/images/git-mono.png" alt="github" class="contact-icon">
            </a>
            <a href="https://instagram.com/unfrucker">
                <img src="/images/insta-mono.png" alt="telegram" class="contact-icon">
            </a>
            <a href="https://t.me/boombacks">
                <img src="/images/tg-mono.png" alt="instagram" class="contact-icon">
            </a>
        </div>
    </div>
</div>
{{ end }}
