
.header-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 0.5vh;
    background-color: black;
    color: white;
}

.side-bar-button {
    margin-left: 3vw;
    width: var(--header-circle-size);
    height: var(--header-circle-size);
}

.title {
    /* width: 100%; */
    /* position: absolute; */
    text-align: center;
    font-size: var(--font-xxl-size);
}

.loggout {
    display: flex;
    align-items: center;
    margin: 3%;
    gap: 0.4rem;
    font-size: var(--font-l-size);
}

.loggout-btn {
    display: flex;
    align-items: center;
    cursor: pointer;
    height: 100%;
}

.loggout-btn .circle {
    width: var(--header-circle-size);
    height: var(--header-circle-size);
}

.circle {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 50%;
    background-color: white;
}

.circle img {
    width: 60%;
    height: 60%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}