/* create css  */
.create-lobby {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.lobby-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 10%;
    margin-top: 5%;
    gap: 0.7rem;
}

.lobby-input {
    outline: none;
    border: 1px solid black;
    border-radius: 9px;
    padding: 7px 11px;
    margin: 0 4px 4px 0;
    box-shadow: 4px 4px black;
}
.lobby-input:focus {
    border: 2px solid var(--color-purple);
}

.checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    margin-bottom: .5rem;
}

.checkbox label {
    text-decoration: underline;
}

/* find css */
.host-end-buttons button:first-child {
    background-color: var(--color-purple);
    color: white;
    /* border: 1px black solid; */
}
.find-lobby {
    width: 95%;
    margin: auto;
    margin-top: 1vh;
    font-size: var(--font-l-size);
}

ul {
    padding: 0;
}
.lobbies-list {
    width: 100%;
    display: flex;
    flex-direction: column;

    gap: 2vh;
    list-style-type: none;
}

.lobby-item {
    border: 1px solid black ;
    border-radius: 15px;
    box-shadow: 6px 6px black;
    margin: 0 6px 6px 0;
    overflow: hidden;
}

.lobby-item-header {
    text-align: center;
    font-size: var(--font-xl-size);
    background-color: black;
    color: white;
}

.lobby-item-table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}

.lobby-item th {
    color: grey;
    border: 1px solid black;
}

.lobby-item-table td {
    border: 1px solid black;
}

.lobby-item-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1.3vh;
}

.info-block-header {
    text-decoration: underline;
}

.lobby-item-button {
    padding: 7px 23px;
    border: 1px solid black;
    background-color: var(--color-purple);
    color: white;
    border-radius: 7px;
    box-shadow: 2px 3px black;
    font-size: var(--font-m-size);
}

.loading {
    color: grey;
    clip-path: inset(0 .7rem 0 0);
    animation: l 1.25s steps(4) infinite;
  }

  @keyframes l {
      to {
        clip-path: inset(0 -.25rem 0 0)
      }
    }