* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Orbitron-SemiBold', monospace;
}
p, h2 {
    margin-bottom: 0;
}
html {
    font-size: 16px;
}
body {
    display: flex;
    flex-direction: column;
}

.none {
    display: none;
}

.deactivated {
    opacity: 0.5;
}

.info-text {
    font-size: var(--font-m-size);
    font-family: var(--font-regular);
    text-decoration: underline;
}

.content {
    flex-grow: 1;
    height: 80vh;
}
:root {
    --color-purple: #A460FF;
    --color-grey: rgb(224, 224, 224);
    --color-darken: rgb(29, 29, 29);
    --font-extra-bold: 'Orbitron-ExtraBold', monospace;
    --font-semi-bold: 'Orbitron-SemiBold', monospace;
    --font-regular: 'Orbitron-Medium', monospace;
    --font-light-cyrillic: 'Orbitron-Light-Cyrillic', monospace;
    --font-xxl-size: 2rem;
    --font-xl-size: 1.5rem;
    --font-l-size: 1.25rem;
    --font-m-size: 1rem;
    --font-s-size: 0.7rem;
    --font-xs-size: 10px;
    --menu-icon-size: 35px;
    --header-circle-size: 2.5rem
}

@media screen and (min-width: 300px) {
    html {
        font-size: 12px;
    }
}

@media screen and (min-width: 350px) {
    html {
        font-size: 14px;
    }
}

@media screen and (min-width: 500px) {
    html {
        font-size: 16px;
    }
}

@media screen and (min-width: 650px) {
    html {
        font-size: 18px;
    }
}

/* @media screen and (min-width: 1000px) {
    html {
        font-size: 2px;
    }
} */