
.header-nav {
    position: relative;
    display: flex;
    align-items: center;
    padding: 2vh 0;
    background-color: black;
    color: white;
}

.side-bar-button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 3vw;
    width: var(--header-circle-size);
    height: var(--header-circle-size);
    z-index: 1;
    cursor: pointer;
}

.title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    pointer-events: none;
    text-align: center;
}
.title h2 {
    font-size: var(--font-xxl-size);
}
.title p {
    font-size: var(--font-m-size);
    color: var(--color-grey);
}

.circle {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 50%;
    background-color: white;
}

.circle img {
    width: 60%;
    height: 60%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}