.side-bar {
    z-index: 1;
    position: fixed;
    height: 100%;
    width: 70vw;
    padding: 5vh 5vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 2vh;
    background-color: black;
    opacity: 0.9;
    color: white;
    transform: translateX(-101%);
    transition: transform .5s ease-out;
}

.side-bar p {
    font-family: var(--font-extra-bold);
    font-size: var(--font-l-size);
}
.side-bar img {
    width: 25px;
    height: 25px;
}

.main {
    height: 100vh;
    transition: transform .5s ease-out;
}

.side-bar.active {
    transform: translate(0%);
}

.main.active {
    transform: translateX(70vw)
}

.sidebar-header {
    display: flex;
    justify-content: start;
    align-items: center ;
    gap: 2vw;
}

.profile {
    display: flex;
    justify-content: flex-start;
    gap: 4vw;
}

.avatar {
    display: flex;
    background-color: var(--color-grey);
    /* outline: solid 1px purple; */
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}
.avatar img {
    width: 3rem;
    height: 3rem;
}

.profile-name p:first-child {
    font-size: var(--font-m-size);
    opacity: 0.7;
}
.profile-name p:last-child {
    font-size: var(--font-xxl-size);
}

.side-bar .separator {
    width: 100%;
    height: 2px;
    border-radius: 50px;
    background-color: white;
    margin-bottom: 1vh;
}

.sidebar-menu + .separator {
    margin-top: 1vh;
}

.sidebar-menu {
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

.games-list {
    list-style: none;
    margin: 0;
}

.games-list li {
    margin-left: 25px;
    margin-top: 1vh;
    border-radius: 6px;
    padding: .5rem;
    font-size: var(--font-l-size);
    color: var(--color-grey);
    font-family: var(--font-light-cyrillic);
}
.games-list li::before {
    content: " \B7 ";
    margin-right: 2vw;
}

.sidebar-link.active {
    background-color: rgb(24, 24, 24);
    color: white;
}

.creator-info {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 2vh;
}

.creator-info p {
    width: 90%;
    text-align: center;
    font-family: var(--font-amsetrdam);
    font-size: var(--font-xl-size);
}

.social-networks {
    display: flex;
    justify-content: space-between;
    gap: 2vw;
    opacity: 0.8;
}

.social-networks a {
    text-decoration: none;
    color: black;
}
.social-networks img {
    width: 5vh;
    height: 5vh;
}