{{ define "create-lobby" }}
<div class="create-lobby">
    <form class="lobby-form" hx-post="/counter/create-lobby">
        <input class="lobby-input" name="lobby-name" type="text" placeholder="lobby name" required/>
        <div class="checkbox">
            <input id="competitive" type="checkbox" name="competitive"/>
            <label for="competitive">Competitive Mode?</label>
        </div>
        <button class="lobby-btn btn btn-dark btn-lg rounded-pill" type="submit">Create</button>
    </form>
</div>
{{ end }}