{{ define "find-lobbies" }}
<div class="find-lobby">
    <ul class="lobbies-list">
        <li class="lobby-item">
            <p class="lobby-item-header">Lobby1</p>
            <table class="lobby-item-table">
                <tr>
                    <th class="lobby-item-table-header">Player Name</th>
                    <th class="lobby-item-table-header">Winrate</th>
                </tr>
                <tr>
                    <td class="lobby-item-table-row">d0c</td>
                    <td class="lobby-item-table-row">100%</td>
                </tr>
                <tr>
                    <td class="lobby-item-table-row">Ann</td>
                    <td class="lobby-item-table-row">100%</td>
                </tr>
                <tr>
                    <td class="lobby-item-table-row">nickname</td>
                    <td class="lobby-item-table-row">100%</td>
                </tr>
            </table>
            <div class="lobby-item-footer">
                <div class="lobby-item-info">
                    <p class="lobby-item-info-block">
                        <span class="info-block-header">Date:</span>
                        <span class="info-block-text">30.04.2024</span>
                    </p>
                    <p class="lobby-item-info-block">
                        <span class="info-block-header">Players:</span>
                        <span class="info-block-text">03</span>
                    </p>
                </div>
                <button class="lobby-item-button">Join</button>
            </div>
        </li>
        <li>
            <div class="lobby-item">
                <p class="lobby-item-header">Lobby2</p>
                <table class="lobby-item-table">
                    <tr>
                        <th class="lobby-item-table-header">Player Name</th>
                        <th class="lobby-item-table-header">Winrate</th>
                    </tr>
                    <tr>
                        <td class="lobby-item-table-row">d0c</td>
                        <td class="lobby-item-table-row">100%</td>
                    </tr>
                </table>
                    <div class="lobby-item-footer">
                    <div class="lobby-item-info">
                        <p class="lobby-item-info-block">
                            <span class="info-block-header">Date:</span>
                            <span class="info-block-text">30.04.2024</span>
                        </p>
                        <p class="lobby-item-info-block">
                            <span class="info-block-header">Players:</span>
                            <span class="info-block-text">01</span>
                        </p>
                    </div>
                    <button class="lobby-item-button">Join</button>
                </div>
            </div>
        </li>
    </ul>
</div>
{{ end }}