{{ block "content" . }}
<div class="lobby-page">
    <div class="lobby-header">{{ .LobbyInfo.Name }}</div>
    <div class="lobby-content">
        <ul class="lobby-players-list" hx-get="/counter/lobby/{{ .LobbyInfo.ID }}/players" hx-trigger="load, every 2.5s">
            <li class="lobby-player">
                <span class="loading">Loading...</span>
            </li>
        </ul>
        <div class="lobby-menu-panel">
            <div class="lobby-info">
                <div class="lobby-info-item">
                    <span>Date: </span>
                    <span>{{ .LobbyInfo.CreatedAt }}</span>
                </div>
                <div class="lobby-info-item">
                    <span>Players: </span>
                    <span id="lobby-player-count"></span>
                </div>
            </div>
            {{ if .IsHost }}
                {{ if eq .LobbyInfo.Status 0 }}
                    {{ template "lobby-host-start-btns".LobbyInfo.ID }}
                {{ else if eq .LobbyInfo.Status 1 }}
                    {{ template "lobby-host-end-btns" .LobbyInfo.ID }}
                {{ else if eq .LobbyInfo.Status 2 }}
                    {{ template "lobby-player-btns" .LobbyInfo.ID }}
                {{ end }}
            {{ else }}
                {{ if eq .LobbyInfo.Status 2 }}
                    {{ template "lobby-player-btns" .LobbyInfo.ID }}
                {{ else }}
                    {{ template "lobby-player-waiting-btns" .LobbyInfo.ID }}
            {{ end }}
        {{ end }}
        </div>
    </div>
</div>
<script>
    function updatePlayerCount() {
        const playerList = document.querySelector('.lobby-players-list');
        const players = playerList.querySelectorAll('.lobby-player.player').length;
        if (players > 1) {
            document.getElementById('host-start-btn').disabled = false;
        }
        document.getElementById('lobby-player-count').textContent = players.toString().padStart(2, '0');
        document.getElementById('menu-player-count').textContent = 'Players: ' + players.toString().padStart(2, '0');
    }

    setInterval(updatePlayerCount, 2500);
    document.addEventListener('DOMContentLoaded', updatePlayerCount);
</script>
{{ end }}

{{ define "lobby-players-list" }}
    {{ range $Player := .Players }}
        <li class="lobby-player player">
            <div class="lobby-player-name">
                <div class="lobby-circle"></div>
                <p>{{ $Player.Name }}</p>
            </div>
            <div class="lobby-player-info">
                {{ renderPlayerResult $Player.Match.Result }}
            </div>
        </li>
    {{ end }}
    {{ if eq .LobbyStatus 0 }}
        <li class="lobby-player">
            <span class="loading">Waiting players...</span>
        </li>
    {{ end }}
{{ end }}

{{ define "lobby-host-start-btns" }}
    <div id="lobby-btns" class="lobby-btns host">
        <button id="host-start-btn" type="button"
            hx-post="/counter/lobby/{{ . }}/start" hx-target="#lobby-btns" hx-swap="outerHTML" disabled>Start</button>
        <button type="button"
            hx-delete="/counter/lobby/{{ . }}">Cancel</button>
    </div>
{{ end }}

{{ define "lobby-host-end-btns" }}
    <div id="lobby-btns" class="lobby-btns host">
        <button type="button"
        hx-post="/counter/lobby/{{ . }}/stop" hx-target="#lobby-btns" hx-swap="outerHTML">Finish</button>
       {{ template "lobby-player-leave-btn" . }}
    </div>
{{ end }}

{{ define "lobby-player-btns" }}
<div id="lobby-btns" class="lobby-btns player">
    <button type="button" hx-post="/counter/lobby/{{ . }}/win" hx-target="#lobby-btns" hx-swap="innerHTML">Win</button>
    <button type="button" hx-post="/counter/lobby/{{ . }}/lose" hx-target="#lobby-btns" hx-swap="innerHTML">Lose</button>
</div>
{{ end }}

{{ define "lobby-player-waiting-btns" }}
<div id="lobby-btns" class="lobby-btns player" hx-get="/counter/lobby/{{ . }}/status" hx-trigger="every 3s" hx-swap="none">
    <p>Кнопки победы/поражения появятся, когда хост завершит игру</p>
    {{ template "lobby-player-leave-btn" . }}
</div>
{{ end }}

{{ define "lobby-player-leave-btn"}}
    <button type="button" hx-post="/counter/lobby/{{ . }}/leave">Leave</button>
{{ end }}