{{ define "create_find_lobby" }}
    <ul class="m-2 list-group">
        {{ range .Lobbies }}
            <li class="list-group-item d-flex flex-column justify-content-center border border-secondary"
                hx-post="{{ .JoinHandler }}">
                <h2 class="text-center">{{ .Name }}</h2>
                <div class="container mt-2">
                    <div class="row row-cols-2">
                        {{ range .Players }}
                        <span class="col">{{ . }}</span>
                        {{ end }}
                    </div>
                </div>
                <button class="btn mt-4 ms-3 me-3 mb-2 btn-primary">Join</button>
        </li>
        {{end}}
    </ul>
    <div class="d-grid m-4" hx-post="{{ .CreateHandler }}">
        <button class="btn btn-dark btn-lg rounded-pill">Create lobby</button>
    </div>
{{ end }}