{{ define "lobby" }}
<div class="lobby-page">
    <div class="m-3 d-flex flex-column bg-dark text-light text-center rounded-4">
        <span class="fs-1 fw-semibold">Lobby1</span>
        <span class="pt-1 pb-2">Created At: 08.08.2024 18:34</span>
    </div>
    <ul class="list-group m-3 text-center">
        <li class="list-group-item">Player1</li>
        <li class="list-group-item">Player2</li>
        <li class="list-group-item list-group-item-secondary">Player3</li>
        <li class="list-group-item">Player4</li>
    </ul>

    <div class="d-flex flex-column me-2 ms-2 column-gap-1">
        <div class="player-buttons d-flex flex-column align-items-center column-gap-1">
            <div class="d-flex flex-row col-12 column-gap-1">
                <button class="btn btn-success col-6 rounded-3" type="button">Win</button>
                <button class="btn btn-danger col-6 rounded-3" type="button">Lose</button>
            </div>
            <button class="btn btn-outline-secondary mt-2 col-6 rounded-3" type="button">Leave</button>
        </div>
        <div class="host-start-buttons d-none flex-row col-12 column-gap-1">
            <button class="btn btn-success col-6 rounded-3" type="button">START</button>
            <button class="btn btn-danger col-6 rounded-3" type="button">CANCEL</button>
        </div>
        <div class="host-end-buttons d-none flex-row col-12 column-gap-2 justify-content-center">
            <button class="btn col-5 rounded-3" type="button">STOP GAME</button>
            <button class="btn btn-secondary col-5 rounded-3" type="button">LEAVE</button>
        </div>
    </div>
</div>
{{ end }}